.home {
	min-height: 100vh;
	justify-content: center;
	background: $bgGradient;
	display: flex;
	flex-direction: column;
	padding: 40px;

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.score-box {
		padding: 25px;
		border-radius: 20px;
		border: 4px solid $headerOutlineClr;
		margin-bottom: 60px;
		display: flex;
		justify-content: space-between;
		max-width: 700px;
		width: 100%;

		.logo__img {
			max-width: 100%;
		}

		.score {
			padding: 4% 8%;
			min-width: 10%;
			border-radius: 20px;
			background: #ffffff;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__title {
				font-size: 20px;
				letter-spacing: 2px;
				color: $scoreClr;
			}

			&__result {
				color: $primaryClr;
				font-size: 40px;
			}
		}
	}

	.choices-box {
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
		justify-content: space-around;
		position: relative;
		width: 100%;
		max-width: 480px;

		&:before {
			position: absolute;
			content: url('././assets/images/bg-triangle.svg');
			z-index: -1;
			top: 0%;
			left: 50%;
			transform: translate(-50%, 30%) scale(1);

			@include breakpoint-max(500) {
				transform: translate(-50%, 8%) scale(0.7);
			}
		}

		button {
			width: 41.6%;
			margin-bottom: 20px;
			padding: 5%;
		}
	}

	.result-box {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		gap: 8%;
		width: 100%;
		max-width: 940px;
		height: 100%;
		margin-bottom: 20px;

		@include breakpoint-max(700) {
			flex-wrap: wrap;
		}

		& div {
			width: 32%;
		}

		&__picked {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: space-between;
			text-align: center;

			@include breakpoint-max(600) {
				flex-direction: column-reverse;
			}

			& .button-choices {
				pointer-events: none;
				padding: 13%;

				@include breakpoint-max(600) {
					margin-bottom: 10px;
				}

				&.win {
					position: relative;

					&::before,
					&::after {
						content: '';
						position: absolute;
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						border-radius: 50%;
					}

					&::before {
						z-index: -1;
						background: $scoreClr;
						animation: pulse 4s;
						animation-timing-function: linear;
						animation-iteration-count: infinite;
						animation-direction: alternate;
						@include breakpoint-max(600) {
							animation: pulseMobile 4s;
							animation-timing-function: linear;
							animation-iteration-count: infinite;
							animation-direction: alternate;
						}
					}

					&::after {
						z-index: -1;
						box-shadow: 0 0 0 60px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.2),
									$amount: 10%
								),
							0 0 0 120px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.1),
									$amount: 20%
								),
							0 0 0 180px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.05),
									$amount: 30%
								);

						@include breakpoint-max(600) {
							box-shadow: 0 0 0 30px
									lighten(
										$color: rgba($color: $scoreClr, $alpha: 0.2),
										$amount: 10%
									),
								0 0 0 60px
									lighten(
										$color: rgba($color: $scoreClr, $alpha: 0.1),
										$amount: 20%
									),
								0 0 0 90px
									lighten(
										$color: rgba($color: $scoreClr, $alpha: 0.05),
										$amount: 30%
									);
						}
					}

					@keyframes pulse {
						0% {
							box-shadow: 0 0 0 0px $scoreClr;
						}
						33% {
							box-shadow: 0 0 0 60px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.2),
									$amount: 15%
								);
						}
						66% {
							box-shadow: 0 0 0 120px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.1),
									$amount: 30%
								);
						}
						100% {
							box-shadow: 0 0 0 180px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.05),
									$amount: 45%
								);
						}
					}

					@keyframes pulseMobile {
						0% {
							box-shadow: 0 0 0 0px $scoreClr;
						}
						33% {
							box-shadow: 0 0 0 30px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.2),
									$amount: 15%
								);
						}
						66% {
							box-shadow: 0 0 0 60px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.1),
									$amount: 30%
								);
						}
						100% {
							box-shadow: 0 0 0 90px
								lighten(
									$color: rgba($color: $scoreClr, $alpha: 0.05),
									$amount: 45%
								);
						}
					}
				}
			}
		}

		&__title {
			text-transform: uppercase;
			color: #ffffff;
			font-size: 26px;
			margin-bottom: 19%;
			white-space: nowrap;
			@include breakpoint-max(600) {
				font-size: 14px;
			}
		}

		.winner {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 21%;

			@include breakpoint-max(700) {
				order: 3;
				width: 100%;
			}

			&__title {
				text-transform: uppercase;
				color: #ffffff;
				margin-bottom: 25px;
				text-shadow: -2px 2px 0px $scoreClr;
				font-size: 2.5rem;
				text-align: center;
			}

			&__button {
				border: none;
				background-color: #ffffff;
				color: hsl(349, 70%, 56%);
				transition: 0.2s all ease-in-out;
				@include breakpoint-max(600) {
					color: $scoreClr;
				}

				&:hover {
					background-color: $scoreClr;
					color: #ffffff;
					border: 2px solid hsl(349, 70%, 56%);
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}
	}

	.rules {
		margin-left: auto;
		@include breakpoint-max(600) {
			margin-right: auto;
		}
	}

	.modal-container {
		z-index: -5;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba($color: #000000, $alpha: 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		transition: 1s all ease-in-out;

		.modal {
			background: #ffffff;
			width: 30%;
			padding: 40px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 375px;

			&__heading {
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				width: 100%;
			}

			&__title {
				text-transform: uppercase;
				color: $headerOutlineClr;
			}

			&__close {
				border: none;
				outline: none;
				background: rgba($color: #000000, $alpha: 0);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				&:hover {
					img {
						background: rgba($color: #000000, $alpha: 0.5);
						filter: brightness(25);
					}
				}

				img {
					width: 100%;
					height: auto;
					transition: 1s all ease-in-out;
				}
			}
		}

		&.show {
			opacity: 1;
			pointer-events: auto;
			z-index: 10;
		}
	}
}
