.home {
	min-height: 100vh;
	justify-content: center;
	background: $bgGradient;
	display: flex;
	flex-direction: column;
	padding: 40px;

	.main {
		@include wrapper(700, 0);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.score-box {
		padding: 25px;
		border-radius: 20px;
		border: 4px solid $headerOutlineClr;
		margin-bottom: 60px;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.score {
			padding: 20px 40px;
			min-width: 20%;
			border-radius: 20px;
			background: #ffffff;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__title {
				font-size: 20px;
				letter-spacing: 2px;
				color: $scoreClr;
			}

			&__result {
				color: $primaryClr;
				font-size: 40px;
			}
		}
	}

	.choices-box {
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
		justify-content: space-around;
		position: relative;
		width: 100%;
		max-width: 480px;
		min-height: 430px;

		&:before {
			position: absolute;
			content: url('././assets/images/bg-triangle.svg');
			z-index: -1;
			top: 0%;
			left: 50%;
			transform: translate(-50%, 33%) scale(1);

			@include breakpoint-max(500) {
				transform: translate(-50%, 20%) scale(0.8);
			}
		}
	}

	.result-box {
		display: flex;
		justify-content: space-between;
		gap: 70px;
	}

	.rules {
		margin-left: auto;
	}

	.modal-container {
		z-index: -5;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba($color: #000000, $alpha: 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		transition: 1s all ease-in-out;

		.modal {
			background: #ffffff;
			width: 30%;
			padding: 40px;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 375px;

			&__heading {
				display: flex;
				justify-content: space-between;
				margin-bottom: 40px;
				width: 100%;
			}

			&__title {
				text-transform: uppercase;
				color: $headerOutlineClr;
			}

			&__close {
				border: none;
				outline: none;
				background: rgba($color: #000000, $alpha: 0);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				&:hover {
					img {
						background: rgba($color: #000000, $alpha: 0.5);
						filter: brightness(25);
					}
				}

				img {
					width: 100%;
					height: auto;
					transition: 1s all ease-in-out;
				}
			}
		}

		&.show {
			opacity: 1;
			pointer-events: auto;
			z-index: 10;
		}
	}
}
