.footer {
	.attribution {
		color: #ffffff;
		text-align: center;
		padding: 25px;
		a,
		a:visited,
		a:active {
			color: $scoreClr;

			&:hover {
				color: lighten($color: $scoreClr, $amount: 20%);
			}
		}
	}
}
